@font-face {
  src: url("/fonts/Teko-Light.ttf");
  font-family: "Teko";
  font-weight: 300;
}

@font-face {
  src: url("/fonts/Teko-Regular.ttf");
  font-family: "Teko";
  font-weight: 400;
}

@font-face {
  src: url("/fonts/Teko-Medium.ttf");
  font-family: "Teko";
  font-weight: 500;
}

@font-face {
  src: url("/fonts/Teko-SemiBold.ttf");
  font-family: "Teko";
  font-weight: 600;
}

@font-face {
  src: url("/fonts/Teko-Bold.ttf");
  font-family: "Teko";
  font-weight: bold;
}

.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  flex-flow: column;

  flex-grow: 2;
}

.files {
  width: 80%;
  max-height: 45%;

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 64px;
  flex-wrap: wrap;

  margin-left: -33px;

  position: relative;
  overflow: auto;
  overflow-x: hidden;
  padding-top: 25px;
}

.files input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  display: none;
}

.file {
  width: 236px;
  height: 209px;
  min-width: 236px;
  min-height: 209px;
  outline: 4px solid #e7e7e7;

  border: 2px solid #262b2f35;

  background: transparent;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 2px;

  margin: 0 0 32px 33px;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-flow: column wrap;

  position: relative;
}

.file div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.select-file {
  width: 171px;
  height: 41px;

  background: #416262;
  border-radius: 2px;

  color: white;
  font-family: "Teko";
  font-weight: 300;
  font-size: 16px;
}

.container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.container inner {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.container inner cont {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.blocks {
  width: 80%;
  max-height: 45%;

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 64px;
  flex-wrap: wrap;

  margin-left: -33px;

  position: relative;
  overflow: auto;
  overflow-x: hidden;
  padding-top: 25px;
}

.blocks input {
  position: static;
  left: 0;
  top: 0;
  opacity: inherit;
  display: flex;
}
